<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="bbe3a5">  <td>21/06/04 07:14:36</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;CreateAccountTest.closeAllBrowsers()[pri:0, instance:com.rediff.tests.createaccount.CreateAccountTest@1e7c7811]">&lt;&lt;closeAllBrowsers</td> 
<td>&nbsp;</td>  <td>main@1414147750</td>   <td></td> </tr>
<tr bgcolor="7276c2">  <td>21/06/04 07:13:53</td>   <td>-42882</td> <td title="&gt;&gt;Common.init()[pri:0, instance:com.rediff.tests.createaccount.CreateAccountTest@1e7c7811]">&gt;&gt;init</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1414147750</td>   <td></td> </tr>
<tr bgcolor="bbe3a5">  <td>21/06/04 07:13:54</td>   <td>-42755</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;CreateAccountTest.openAnyBrowser()[pri:0, instance:com.rediff.tests.createaccount.CreateAccountTest@1e7c7811]">&gt;&gt;openAnyBrowser</td> 
<td>&nbsp;</td>  <td>main@1414147750</td>   <td></td> </tr>
<tr bgcolor="bbe3a5">  <td>21/06/04 07:14:03</td>   <td>-32793</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="CreateAccountTest.verifyuserNameAvailability()[pri:1, instance:com.rediff.tests.createaccount.CreateAccountTest@1e7c7811]">verifyuserNameAvailability</td> 
  <td>main@1414147750</td>   <td></td> </tr>
</table>
