<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>RediffMail Testing suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="b9f5a4">  <td>21/06/02 07:06:58</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;LoginTest.closeBroser()[pri:0, instance:com.rediff.tests.login.LoginTest@1e683a3e]">&lt;&lt;closeBroser</td> 
<td>&nbsp;</td>  <td></td>   <td></td> </tr>
<tr bgcolor="cdfb9b">  <td>21/06/02 07:07:57</td>   <td>58762</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;CreateAccountTest.closeBroser()[pri:0, instance:com.rediff.tests.createaccount.CreateAccountTest@20ccf40b]">&lt;&lt;closeBroser</td> 
<td>&nbsp;</td>  <td>main@1526970878</td>   <td></td> </tr>
<tr bgcolor="bb9485">  <td>21/06/02 07:06:48</td>   <td>-9623</td> <td title="&gt;&gt;Common.init()[pri:0, instance:com.rediff.tests.createaccount.CreateAccountTest@20ccf40b]">&gt;&gt;init</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1526970878</td>   <td></td> </tr>
<tr bgcolor="b9f5a4">  <td>21/06/02 07:06:49</td>   <td>-9313</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;LoginTest.openBrowser()[pri:0, instance:com.rediff.tests.login.LoginTest@1e683a3e]">&gt;&gt;openBrowser</td> 
<td>&nbsp;</td>  <td>main@1526970878</td>   <td></td> </tr>
<tr bgcolor="cdfb9b">  <td>21/06/02 07:06:59</td>   <td>481</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;CreateAccountTest.openBrowser()[pri:0, instance:com.rediff.tests.createaccount.CreateAccountTest@20ccf40b]">&gt;&gt;openBrowser</td> 
<td>&nbsp;</td>  <td>main@1526970878</td>   <td></td> </tr>
<tr bgcolor="b9f5a4">  <td>21/06/02 07:06:58</td>   <td>12</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="LoginTest.verifyInvalidLogin(java.lang.String, java.lang.String)[pri:2, instance:com.rediff.tests.login.LoginTest@1e683a3e]">verifyInvalidLogin</td> 
  <td></td>   <td></td> </tr>
<tr bgcolor="b9f5a4">  <td>21/06/02 07:06:58</td>   <td>-14</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="LoginTest.verifyPageTitle()[pri:1, instance:com.rediff.tests.login.LoginTest@1e683a3e]">verifyPageTitle</td> 
  <td>main@1526970878</td>   <td></td> </tr>
<tr bgcolor="cdfb9b">  <td>21/06/02 07:07:53</td>   <td>54590</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="CreateAccountTest.verifyuserNameAvailability()[pri:1, instance:com.rediff.tests.createaccount.CreateAccountTest@20ccf40b]">verifyuserNameAvailability</td> 
  <td>main@1526970878</td>   <td></td> </tr>
</table>
